<h1>Listing portions</h1>

<table>
  <tr>
    <th>Formula</th>
    <th>Ingredient</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @portions.each do |portion| %>
  <tr>
    <td><%= portion.formula_id %></td>
    <td><%= portion.ingredient_id %></td>
    <td><%= link_to 'Show', portion %></td>
    <td><%= link_to 'Edit', edit_portion_path(portion) %></td>
    <td><%= link_to 'Destroy', portion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Portion', new_portion_path %>
